.container {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px; }
  .container fieldset {
    border: 1px solid #ccc;
    min-height: 220px;
    padding: 5px;
    padding-bottom: 50px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3); }
    .container fieldset legend {
      padding: 0px 0px 0px 15px;
      width: 355px;
      border-radius: 10px;
      border: 1px solid #cccccc;
      background-color: #ffffff; }
    .container fieldset form .btn-send {
      background-color: #C7A932;
      border-color: #C7A932;
      color: #ffffff; }
    .container fieldset form .btn-send:hover {
      background-color: #9e810f;
      border-color: #9e810f; }
    .container fieldset #room {
      height: 300px;
      background: #f7f7f7;
      overflow-y: auto;
      margin: 15px 0px;
      padding: 5px;
      border: 1px solid #ccc; }
      .container fieldset #room > p {
        display: table;
        background: #ffe5ca;
        padding: 5px;
        border-radius: 0px 15px 15px 0px;
        font-size: 14px;
        margin: 5px 0px 5px 0px; }
        .container fieldset #room > p.-right {
          margin-left: auto;
          margin-right: 0;
          border-radius: 15px 0px 0px 15px;
          padding-left: 10px;
          background-color: #ffe8b1;
          text-align: right; }
    .container fieldset .message {
      margin: 0px; }
    .container fieldset .username {
      color: #a58b04;
      font-size: 12px; }
  .container #users {
    height: 300px;
    background: #f7f7f7;
    overflow-y: auto;
    margin: 15px 0px;
    padding: 5px;
    border: 1px solid #ccc;
    background: #ffffff;
    height: 200px; }
  .container #groups {
    height: 300px;
    background: #f7f7f7;
    overflow-y: auto;
    margin: 15px 0px;
    padding: 5px;
    border: 1px solid #ccc;
    background: #ffffff;
    height: 200px; }
  .container .customized-userList {
    height: 150px !important;
    margin: 5px 10px 15px 15px !important; }
  .container .nav-tabs > li {
    position: relative; }
  .container .nav-tabs > li > a {
    display: inline-block; }
  .container .nav-tabs > li > span {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 8px;
    color: red; }
  .container .nav-tabs > li:hover > span {
    display: inline-block; }

.overlay {
  background: #e9e9e9;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5; }
